* {
    font-family: 'Poppins' sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.bg-sk-green {
    --tw-bg-opacity: 1;
    background-color: rgb(0 149 174 / var(--tw-bg-opacity));
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.justify-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.h-20 {
    height: 5rem;
}

.inline-block {
    display: inline-block;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

.hidden {
    display: none;
}

.items-end {
    align-items: flex-end;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

@media (min-width: 1024px) {
    .lg\:hidden {
        display: none;
    }
}

.pt-8 {
    padding-top: 2rem;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

button,
[role="button"] {
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.w-6 {
    width: 1.5rem;
}

.h-6 {
    height: 1.5rem;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

@media (min-width: 1024px) {
    .lg\:pt-6 {
        padding-top: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .lg\:flex {
        display: flex;
    }
}

.bg-opacity-0 {
    --tw-bg-opacity: 0;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.w-auto {
    width: auto;
}

.hidden {
    display: none;
}

@media (min-width: 1024px) {
    .lg\:items-center {
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .lg\:flex-row {
        flex-direction: row;
    }
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.items-end {
    align-items: flex-end;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.\*\:text-lg>* {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.\*\:py-2>* {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.underline-offset-8 {
    text-underline-offset: 8px;
}

.underline {
    text-decoration-line: underline;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.section {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0 10px 110px;
    margin: 15px 0 0 55px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    width: 400px;
    height: 303px;
    transition: 0.6s;
}

.section:before {
    content: '';
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
    z-index: -1;
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pt-16 {
    padding-top: 4rem;
}

.bg-sk-green {
    --tw-bg-opacity: 1;
    background-color: rgb(0 149 174 / var(--tw-bg-opacity));
}

@media (min-width: 1024px) {
    .lg\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.font-bold {
    font-weight: 700;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-center {
    text-align: center;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

@media (min-width: 1024px) {
    .lg\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 1024px) {
    .lg\:flex-row {
        flex-direction: row;
    }
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

@media (min-width: 1024px) {
    .lg\:w-1\/2 {
        width: 50%;
    }
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.rounded-full {
    border-radius: 9999px;
}

.w-24 {
    width: 6rem;
}

.h-24 {
    height: 6rem;
}

.mt-14 {
    margin-top: 3.5rem;
}

.-mx-12 {
    margin-left: -3rem;
    margin-right: -3rem;
}

.top-0 {
    top: 0px;
}

.absolute {
    position: absolute;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pt-12 {
    padding-top: 3rem;
}

.p-8 {
    padding: 2rem;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.w-3\/4 {
    width: 75%;
}

.mt-20 {
    margin-top: 5rem;
}

.justify-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.h-6 {
    height: 1.5rem;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

.rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.h-6 {
    height: 1.5rem;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1rem;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

.text-center {
    text-align: center;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.mt-4 {
    margin-top: 1rem;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

@media (min-width: 1024px) {
    .lg\:w-1\/2 {
        width: 50%;
    }
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.rounded-full {
    border-radius: 9999px;
}

.w-24 {
    width: 6rem;
}

.h-24 {
    height: 6rem;
}

.mt-14 {
    margin-top: 3.5rem;
}

.-mx-12 {
    margin-left: -3rem;
    margin-right: -3rem;
}

.top-0 {
    top: 0px;
}

.absolute {
    position: absolute;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pt-12 {
    padding-top: 3rem;
}

.p-8 {
    padding: 2rem;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.w-3\/4 {
    width: 75%;
}

.mt-20 {
    margin-top: 5rem;
}

.justify-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.h-6 {
    height: 1.5rem;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

.rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.h-6 {
    height: 1.5rem;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1rem;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

.text-center {
    text-align: center;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.mt-4 {
    margin-top: 1rem;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.font-Poppins {
    font-family: Poppins;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

body {
    margin: 0;
    line-height: inherit;
}


::before,
::after {
    --tw-content: '';
}

*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;

}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #9E9E9E;
}

::-webkit-scrollbar-track {
    border: none;
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (min-width: 1024px) {
    .lg\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (min-width: 1024px) {
    .lg\:flex-row {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .lg\:my-24 {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

@media (min-width: 1024px) {
    .lg\:w-1\/2 {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .lg\:ml-24 {
        margin-left: 6rem;
    }
}

@media (min-width: 1024px) {
    .lg\:-mr-24 {
        margin-right: -6rem;
    }
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.bg-sk-green {
    --tw-bg-opacity: 1;
    background-color: rgb(0 149 174 / var(--tw-bg-opacity));
}

.w-full {
    width: 100%;
}

.\*\:text-white>* {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.font-bold {
    font-weight: 700;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.pl-12 {
    padding-left: 3rem;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

.\*\:text-white>* {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.border-4 {
    border-width: 4px;
}

.w-2\/3 {
    width: 66.666667%;
}

.my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}

@media (min-width: 1024px) {
    .lg\:py-16 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media (min-width: 1024px) {
    .lg\:w-2\/5 {
        width: 40%;
    }
}

.w-full {
    width: 100%;
}

.p-8 {
    padding: 2rem;
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.w-full {
    width: 100%;
}

.w-full {
    width: 100%;
}

input,
select,
textarea {
    padding: 2px 10px;
}

button,
select {
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

element.style {}

[hidden] {
    display: none;
}

.mt-4 {
    margin-top: 1rem;
}

.w-full {
    width: 100%;
}

input,
select,
textarea {
    padding: 2px 10px;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mb-0 {
    margin-bottom: 0px;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

.text-center {
    text-align: center;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg-sk-yellow {
    --tw-bg-opacity: 1;
    background-color: rgb(249 241 82 / var(--tw-bg-opacity));
}

.border-sk-green {
    --tw-border-opacity: 1;
    border-color: rgb(0 149 174 / var(--tw-border-opacity));
}

.border {
    border-width: 1px;
}

.rounded {
    border-radius: 0.25rem;
}

.mt-4 {
    margin-top: 1rem;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    background-color: rgb(249 241 82);
    background-image: none;
}

button,
[role="button"] {
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    min-height: 100vh;

    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 2rem;

    font-family: "Jura", sans-serif;
    color: var(--color);
    background: var(--bgColor);
}

h1 {
    text-align: center;
}

.ul {
    --col-gap: 2rem;
    --barH: 1rem;
    --roleH: 2rem;
    --flapH: 2rem;

    width: min(60rem, 90%);
    margin-inline: auto;

    display: flex;
    flex-wrap: wrap;

    gap: var(--col-gap);
    padding-inline: calc(var(--col-gap) / 2);

    justify-content: center;
    align-items: flex-start;
    list-style: none;
}

.ul .li {
    width: 13em;
    height: 420px;
    display: grid;
    grid-template:
        "role"
        "icon"
        "title"
        "descr";
    align-items: flex-start;
    gap: 1rem;
    padding-block-end: calc(var(--flapH) + 1rem);
    text-align: center;
    background: #2096B2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) var(--roleH),
            rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem),
            rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem));
    clip-path: polygon(calc(var(--col-gap) / -2 - 5px) 0,
            calc(100% + var(--col-gap) / 2 + 5px) 0,
            calc(100% + var(--col-gap) / 2 + 5px) calc(100% - var(--flapH)),
            50% 100%,
            calc(var(--col-gap) / -2 - 5px) calc(100% - var(--flapH)));
}

/* bar */
.ul .li::before {
    content: "";
    grid-area: role;
    height: var(--barH);
    width: calc(100% + var(--col-gap));
    margin-left: calc(var(--col-gap) / -2);
    margin-top: calc(var(--roleH) / 2 - var(--barH) / 2);
    background: grey;
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2) 30%,
            rgba(255, 255, 255, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            rgba(0, 0, 0, 0.2) 70%,
            rgba(0, 0, 0, 0.4));
}

/* role */
.ul .li::after {
    content: "";
    grid-area: role;
    background: #2096B2;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2) 30%,
            rgba(255, 255, 255, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            rgba(0, 0, 0, 0.2) 70%,
            rgba(0, 0, 0, 0.4));
    height: var(--roleH);
}

.ul .li .icon,
.ul .li .title,
.ul .li .descr {
    padding-inline: 1rem;
    color: white;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.ul .li .icon {
    font-size: 3rem;
}

.ul .li .title {
    font-size: 1.25rem;
    font-weight: 700;
}

.ul .li .descr {
    font-size: 0.9rem;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}


:root {
    --main-color: #2096B2;
}

.serviceBox {
    color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0 30px 30px;
    position: relative;
    z-index: 1;
}

.serviceBox:before,
.serviceBox:after {
    content: "";
    background: #fff;
    border-radius: 20px;
    position: absolute;
    top: 38px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: -1;
}

.serviceBox:after {
    background-color: var(--main-color);
    border-radius: 30px;
    top: 55%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.serviceBox .service-icon {
    color: #fff;
    background: var(--main-color);
    font-size: 35px;
    line-height: 67px;
    width: 75px;
    height: 75px;
    margin: 0 auto 60px;
    border-radius: 50%;
    border: 5px solid #fff;
    position: relative;
}

.serviceBox .service-icon:before,
.serviceBox .service-icon:after {
    content: '';
    background-color: var(--main-color);
    height: 70px;
    width: 140px;
    border-radius: 0 0 100px 100px/0 0 100px 100px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
}

.serviceBox .service-icon:before {
    height: 10px;
    width: 170px;
    border-radius: 10px 10px 0 0;
    top: auto;
    bottom: 50%;
}

.serviceBox .title {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    text-shadow: 0 4px rgba(0, 0, 0, 0.05);
    margin: 0 0 10px;
}

.serviceBox .description {
    color: #999;
    font-size: 14px;
    line-height: 25px;
    margin: 0;
}

@media only screen and (max-width: 1199px) {
    .serviceBox {
        margin: 0 0 30px;
    }
}


/* _______________________travel brands_______________________ */
.pt-20 {
    padding-top: 5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 1024px) {
    .lg\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-center {
    text-align: center;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

.text-sk-green {
    --tw-text-opacity: 1;
    color: rgb(0 149 174 / var(--tw-text-opacity));
}

.font-bold {
    font-weight: 700;
}

@media (min-width: 1024px) {
    .lg\:gap-x-0 {
        -moz-column-gap: 0px;
        column-gap: 0px;
    }
}

@media (min-width: 1024px) {
    .lg\:mt-8 {
        margin-top: 2rem;
    }
}

.gap-x-8 {
    -moz-column-gap: 2rem;
    column-gap: 2rem;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.mt-0 {
    margin-top: 0px;
}

@media (min-width: 1024px) {
    .lg\:h-40 {
        height: 10rem;
    }
}

.p-0 {
    padding: 0px;
}

.rounded-sm {
    border-radius: 0.125rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.w-32 {
    width: 8rem;
}

.min-h-24 {
    min-height: 6rem;
}

.max-h-24 {
    max-height: 6rem;
}

.h-24 {
    height: 6rem;
}

.flex {
    display: flex;
}

.\*\:object-scale-down>* {
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.inline-block {
    display: inline-block;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

.hover:hover {
    background-color: #EEEEEE;
}


/* ____________________footer______________________ */
@media (min-width: 1024px) {
    .lg\:pb-0 {
        padding-bottom: 0px;
    }
}

@media (min-width: 1024px) {
    .lg\:flex-row {
        flex-direction: row;
    }
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

.flex {
    display: flex;
}

@media (min-width: 1024px) {
    .lg\:flex-row {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .lg\:flex {
        display: flex;
    }
}

.text-center {
    text-align: center;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid {
    display: grid;
}

@media (min-width: 1024px) {
    .lg\:\*\:px-3>* {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

.\*\:font-light>* {
    font-weight: 300;
}

.\*\:py-2>* {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.h-20 {
    height: 5rem;
}

.inline-block {
    display: inline-block;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

/* ___________________________navbar___________________ */

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.bg-sk-green {
    --tw-bg-opacity: 1;
    background-color: rgb(0 149 174 / var(--tw-bg-opacity));
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #9E9E9E;
}

::-webkit-scrollbar-track {
    border: none;
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.justify-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.h-20 {
    height: 5rem;
}

.inline-block {
    display: inline-block;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

.hidden {
    display: none;
}

.items-end {
    align-items: flex-end;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

@media (min-width: 1024px) {
    .lg\:hidden {
        display: none;
    }
}

.pt-8 {
    padding-top: 2rem;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

button,
[role="button"] {
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.w-6 {
    width: 1.5rem;
}

.h-6 {
    height: 1.5rem;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

@media (min-width: 1024px) {
    .lg\:pt-6 {
        padding-top: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .lg\:flex {
        display: flex;
    }
}

.bg-opacity-0 {
    --tw-bg-opacity: 0;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.w-auto {
    width: auto;
}

.flex {
    display: flex;
}

@media (min-width: 1024px) {
    .lg\:items-center {
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .lg\:flex-row {
        flex-direction: row;
    }
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.items-end {
    align-items: flex-end;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 1024px) {
    .lg\:\*\:py-0>* {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media (min-width: 1024px) {
    .lg\:\*\:px-4>* {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.\*\:text-lg>* {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.\*\:py-2>* {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.underline-offset-8 {
    text-underline-offset: 8px;
}

.underline {
    text-decoration-line: underline;
}

a {
    color: inherit;
    text-decoration: inherit;
}

@media (min-width: 1024px) {
    .lg\:text-sk-green {
        --tw-text-opacity: 1;
        color: rgb(0 149 174 / var(--tw-text-opacity));
    }
}

@media (min-width: 1024px) {
    .lg\:font-medium {
        font-weight: 500;
    }
}

@media (min-width: 1024px) {
    .lg\:text-sm {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .lg\:py-2 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media (min-width: 1024px) {
    .lg\:px-3 {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

@media (min-width: 1024px) {
    .lg\:bg-sk-yellow {
        --tw-bg-opacity: 1;
        background-color: rgb(249 241 82 / var(--tw-bg-opacity));
    }
}

@media (min-width: 1024px) {
    .lg\:border-white {
        --tw-border-opacity: 1;
        border-color: rgb(255 255 255 / var(--tw-border-opacity));
    }
}

@media (min-width: 1024px) {
    .lg\:border-2 {
        border-width: 2px;
    }
}

@media (min-width: 1024px) {
    .lg\:rounded-full {
        border-radius: 9999px;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* _______________________hero________________________ */
body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    color: black;
    font-family: "Poppins", sans-serif;
    background-color: white;
}

.headers {
    position: relative;
}

.banner-text {
    position: absolute;
    top: 80px;
    font-size: 48px;
    left: 40px;
    font-family: 'Poppins' sans-serif;
    text-align: left;
}

.bttn2 {
    position: absolute;
    top: 350px;
    left: 70px;
    font-family: 'Poppins' sans-serif;
    font-size: 20px;
    height: 52px;
    width: 178.4px;
}

@media only screen and (max-width: 1024px) {
    .banner-text {
        font-size: 25px;
        top: 30px;
    }

    .bttn2 {
        top: 160px;
        left: 60px;
        height: 30px;
        width: 99px;
        font-size: 10px;
    }

    /* .img-fluid{
       visibility: hidden;

    } */
    .imgg {
        display: none;
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
    background: #2096B2;
}

nav a {
    position: relative;
    text-decoration: none;
    color: white;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: white;
}

a:active {
    text-decoration: underline;
}

.list {
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#toggler,
.label {
    display: none;
    text-align: right;
}

.label i {
    color: white;
}

@media screen and (max-width: 768px) {

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        text-align: right;
    }

    .label {
        display: inline-flex;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}

body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}

body .container .card {
    position: relative;
    min-width: 250px;
    height: 440px;
    /* box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); */
    border-radius: 15px;
    margin: 10px;
    transition: 0.5s;
}


body .container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2096B2;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

body .container .card .box:hover {
    transform: translateY(-50px);
}

body .container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
    padding: 20px;
    text-align: center;
}

body .container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
}

body .container .card .box .content h3 {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
}

body .container .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
}

body .container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

body .container .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
}

@media screen and (max-width: 1024px) {
    .imgs {
        margin-top: 130px;
    }
}

.wrapper {
    min-height: 20vh;
    box-sizing: border-box;
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    max-width: 960px;
    margin: 0 auto;
}

.box {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.box label {
    background: #e6e7ea;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
    order: 1;
    display: block;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 4px;
    cursor: pointer;
}

.box .content {
    display: none;
    padding: 30px;
    background: #fff;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
    order: 99;
    flex-grow: 1;
    width: 100%;
    color: #000;

}

.box input[type="radio"] {
    display: none;
}

.box input[type="radio"]:checked+label {
    /* background: linear-gradient(white, #2096B2); */
    background-color: #2096B2;
    color: white;
    font-weight: 200;
    
}

.box input[type="radio"]:checked+label+.content {
    display: block;
}


@media (max-width: 600px) {

    .box .content,
    .box label {
        order: initial;
    }

    .box label {
        width: 100%;
        margin-right: 0;
        margin-top: 4px;
    }
}






.container {
    overflow: hidden;

    .slider {
        animation: slidein 30s linear infinite;
        white-space: nowrap;

        .logos {
            width: 100%;
            display: inline-block;
            margin: 0px 0;

            .fab {
                width: calc(100% / 5);
                animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
            }
        }
    }
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
